// Smooth scroll

html {
  scroll-behavior: smooth;
}

// Flex classes on #site-wrapper and #page-wrapper (header.php) are used to force full height on pages with little content

// Layout fix when logged in and admin bar is present

.admin-bar #site-wrapper,
.admin-bar #header-wrapper {
  top: 32px;
}

// Selected text styles

::selection {
  color: $light;
  background-color: tint-color($primary, 15%);
}

// Utility class to use img tag as a background

.has-img-background {
  position: relative;
  // background: linear-gradient(rgba(#000, 0.1), rgba(#000, 0.5));
  background-color: rgb(#000, 50%);

  img.is-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


/*Buttons*/

.btn.btn-primary {
  color: $light;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 0;
  padding: 13px 25px;
}

.wpcf7-form-control.wpcf7-submit {
  color: $light;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 0;
  padding: 13px 25px;
  border: 0;
  background-color: #d80019;
border-color: #d80019;
}

.wpcf7-form-control.wpcf7-submit:hover {
  color: #fff;
  background-color: #b80015;
  border-color: #ad0014;
}

/*cf7*/

.wpcf7-select, .wpcf7-text, .wpcf7-number, .wpcf7-date, .wpcf7-textarea {
  padding: 0.88889rem 1.11111rem;
  margin-bottom: 0.66667rem;
  width: 100%;
  transition: all 100ms ease-out;
}

.form-control {
  border: 3px solid #dddddd;
  transition: all 100ms ease-out;
}
.wpcf7-select::placeholder, .wpcf7-text::placeholder, .wpcf7-number::placeholder, .wpcf7-date::placeholder, .wpcf7-textarea::placeholder {
  text-transform: uppercase;
}
.form-control::placeholder {
  color: #999;
  opacity: 1;
}

/*Social icons widget*/
.header__right-widgets a:hover {
  color: #fff;
}

