#section-hero .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#section-hero .swiper-button-prev {
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'%3E%3C!--  --%3E%3Cpath d='M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z'/%3E%3C/svg%3E")
    no-repeat 100% 100%;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'%3E%3C!--  --%3E%3Cpath d='M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z'/%3E%3C/svg%3E")
    no-repeat 100% 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

#section-hero .swiper-button-next {
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'%3E%3C!--   --%3E%3Cpath d='M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z'/%3E%3C/svg%3E")
    no-repeat 100% 100%;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'%3E%3C!--   --%3E%3Cpath d='M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z'/%3E%3C/svg%3E")
    no-repeat 100% 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

#section-hero .swiper:hover > .next .swiper-button-next,
#section-hero .swiper:hover > .prev .swiper-button-prev {
  background-color: $light;
}

#section-hero .swiper-button-prev::after,
#section-hero .swiper-button-next::after {
  display: none;
}

#section-hero .swiper-slide::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #0006;
  z-index: 0;
  top: 0;
}

@media (max-width: 1024px) {
  #section-hero .swiper-button-prev {
    background-color: $light;
  }

  #section-hero .swiper-button-next {
    background-color: $light;
  }
  #section-hero .next {
    position: absolute;
    bottom: 37px;
    z-index: 2;
    right: 10px;
  }
  #section-hero .prev {
    position: absolute;
    bottom: 37px;
    z-index: 2;
    right: 100px;
  }
}
