/* block adv */
.adv-item {
	border: 3px var(--bs-primary) solid;
	padding: 36px;
  }
  .haed-item {
	margin-top: -65px;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
  }
  .haed-item img {
	width: 60px;
  }
  .body-item {
	margin-top: 36px;
  }
  
  .footer-item-img img {
	width: 35px;
  }
  .section-title h2 {
	color: var(--bs-light);
	width: fit-content;
  }
