/* color wave and bg section */
.blue_wave {
  background-color: #03a9f4;
  svg:first-child{
    fill: #03a9f4;
      }
}
.white_wave {
  background-color: #fff;
  svg:first-child{
    fill: #fff;
      }
}

.wave svg {
  margin-top: -9rem;
}

/* block adv */
.adv-item {
	border: 3px var(--bs-primary) solid;
	padding: 36px;
  }
  .haed-item {
	margin-top: -65px;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
  }
  .haed-item img {
	width: 60px;
  }
  .body-item {
	margin-top: 36px;
  }
  
  .footer-item-img img {
	width: 35px;
  }
  .section-title h2 {
	color: var(--bs-light);
	width: fit-content;
  }
  /* About school home */
  
  .block_twosmall_onebig {
      height: auto;
    }
    
    .item_big_img {
    width: 100%;
    margin-bottom: 10px;
  }
  .item_twosmall_img {
    width: 100%;
  }
  .small_img_first {
    margin-bottom: 10px;
  }
  @media (min-width: 768px) {
    .block_twosmall_onebig {
      height: calc(((((100vw - (100vw - 1320px)) / 3) * 2) - 66px)/2);
    }
    .item_big_img {
      width: calc(50% - 10px);
    margin-bottom: 0;
    }
    .small_img_first {
    margin-bottom: 0px;
  }
    .img_block img {
      object-fit: cover;
    }
    
    .item_twosmall_img {
      width: calc(50% - 10px);
    }
    
    .img_twosmall {
      height: calc(50% - 10px);
    }
  }
/* block receive */
#section-receive .col-md-4 {
  height: calc((60px + 6rem) - 20px);
} 
.img-gets {
  width: 60px;
  height: 60px;
} 