.mr-3 {
    margin-right: 1rem;
}

.service-coaching .person-trainer-label {
    top: -1rem;
    left: 1rem;
    margin-top: 0!important;
}
.cta-label {
    top: -1rem;
}
.person-training-skills {
    padding: 2px 8px;
}
.cta-card-photo img {
    object-fit: cover;
}

@media (min-width: 880px) {
    .service-basic-info {
        margin-top: -160px;
    }
}